.modalCadastroJogador-container{
	top:0;
	right: 0;
	position: fixed;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	height: 100vh;
	width: 100vw;
	z-index: 100;
	form{
		display: flex;
		flex-direction: column;
		gap:.2rem;
	}
	.modalCadastro-submit{
		margin-top: 1rem;
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}
}
