.modalCadastroJogador-container {
  top: 0;
  right: 0;
  position: fixed;

  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .modalCadastro-submit {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
