.modalCount-container{
	position: fixed;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	height: 100vh;
	width: 100vw;
	font-size: 200rem;
	top:0;
	z-index: 100;
	h1{
		text-decoration: none;
	}
}