.home_container{	
	display:flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	section{
		margin-top: 2rem;
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		flex-direction: column;
		position: relative;
		gap:1rem;
	}
	.load-tournament{
		display: flex;
		justify-content: space-between;
	}
	header{
		display: flex;
		input{
			margin-right: 1rem;
			width: 100%;
		}
		
	}
	
}