.tournament_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-height: calc(100vh - 14rem);
  margin: auto;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    nav {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
  main {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    .card {
      overflow: auto;
    }
    ul {
      width: 100%;
      min-width: 20rem;
      transition: 0.2s;
      li h5 {
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: small;
        align-items: center;
        div {
          display: flex;
          align-items: center;
          gap: 0.3rem;
        }
      }
      li:hover {
        filter: brightness(0.7);
      }
      li:active {
        filter: brightness(1);
      }
      li .icon:hover {
        color: red;
      }
      li {
        cursor: pointer;
      }
    }
  }
}
