.home_container {
  max-width: 80vw;
  .home_card_tournament {
    section {
      display: flex;
      justify-content: center;
      gap: 0;
    }
  }
  header {
    display: flex;
    input {
      margin-right: 1rem;
      width: 100%;
    }
  }
}
