.home_container{	
	display:flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	section{
		margin-top: 2rem;
		display:flex;
	justify-content: center;
	flex-direction: column;
	position: relative;

	}
	header{
		input{
			margin-right: 1rem;
		}
	}
	
}