html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
}
input {
  margin: .3rem 0;
  border: none;
  background-color: transparent;
  text-shadow: 0 0 3px #000, 0 0 5px #fff;
  color: white;
  padding: 1rem;
  &::placeholder{
    color: rgba(255, 255, 255, 0.664);
  }
  border-bottom: solid 2px white;
  outline: none;
  &:focus{
    box-shadow: 0 0 .2rem #fff,
    inset 0 0 1.3rem rgb(4, 250, 254); 
  }
  &:disabled{
    box-shadow: 0 0 .2rem #fff,
    inset 0 0 1.3rem rgb(150, 150, 150); 

  }
  
}
h1{
  font-size: 5rem;
  padding-bottom: 2rem;
  border-bottom: solid 3px white ;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
button, .button {
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  font-weight: bolder;
  padding: 1rem;
	margin-top: .5rem;
  transition: .2s;
  text-transform: lowercase;
  border-radius: 2rem;
  animation: pulse-blue 2s infinite;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(4, 250, 254);

  &.danger{
    color: rgb(177, 0, 0);
    animation: pulse-red 2s infinite;
  }
    
  }
  @keyframes pulse-red {
    0% {
      box-shadow: 0 0 10px rgba(255, 83, 83, 0.7);
    }
    
    70% {
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }
  @keyframes pulse-blue {
    0% {
      box-shadow: 0 0 10px rgba(83, 244, 255, 0.7);
    }
    
    70% {
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }
  .small{
			& span{font-size: x-small;}
  }
  .clicable{
    cursor: pointer;
    &:hover{
      filter: brightness(.7);
    }
    &:active{
      filter: brightness(1)
    }
  }
  .unClicable{
    filter: brightness(.7);
    pointer-events: none;
    &:hover{
      cursor:not-allowed;
    }
  }
  .card{
    @extend .small;
    padding: 1rem;
		background-color: rgba(0, 0, 0, 0.5);
		border: 1px white solid;
		margin: .5rem 0;
  }
  .home_card_tournament{
    @extend .card;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		&:active{
			filter: brightness(.5);
		}

		section{
			margin: auto 0;
				}

		&:hover{
			box-shadow: 0 0 10px rgb(4, 250, 254);
		}
	}

.global-container{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
  background-image: url('./assets/bg.jpg');
	background-size: fill;
	background-repeat: repeat;
	width: 100vw;
  min-height: 100vh;
  color: white;
  text-shadow: 0 0 3px #000, 0 0 5px #fff;
  // text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-size: large;
	z-index: -10;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
}

.p1animation {
  animation: flickerAnimation 5s ease infinite;
}
.p2animation {
  animation: flickerAnimation 4s ease infinite alternate-reverse;
}

@keyframes flickerAnimation {
  0%   { opacity:1;transform: translate(0,  0px); }
  1%   { opacity:0; }
  2%   { opacity:1; }
  21%   { opacity:1; transform: translate(5px, 15px);}
  22%   { opacity:0; }
  23%   { opacity:1; transform: translate(0,  0px);}
  40%  { opacity:1; }
  41%  { opacity:0; }
  42%  { opacity:1; }
  43%  { opacity:0; transform: translate(3px, 15px);}
  44%  { opacity:1; }
  45%  { opacity:0; }
  46%  { opacity:1; }
  100% { opacity:1; transform: translate(-3px, -0px); }

}

