.login-container{
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	form{
		margin-top: 1rem;
		display:flex;
		flex-direction: column;
		gap:.2rem;

		input{
			padding: .2rem;
		}
	}
}